h1 {
    text-align: center;
}

.holiday-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width:static;
    max-width:50%
}

.holiday-container h2{
    margin-bottom: 0px;
    text-align: left;
}

.holiday-container h3{
    margin-top: 0px;
    text-align: left;
}

#answer {
    margin-bottom: 20px;
}
